<!DOCTYPE html>
<html>
    <head>
        <title>search request</title>
    </head>
    <body>
        @{
            WebClient oClient = new WebClient();
            try
            {
                String sUrl = "https://www.googleapis.com/customsearch/v1?key={0}&cx={1}&alt=json&q={2}";
                String sResponse = oClient.DownloadString(String.Format(sUrl, "AIzaSyCFTXNw8R62iAw2qY--QM2aF3EL5MJS6fM", "010403278007363224430:2qpipkqbqcg",
                    Request["q"]));
                var oResults = Json.Decode(sResponse);
                <h1>search results for term @oResults.queries.request[0].searchTerms</h1> 
                if(oResults.items != null)
                {
                    foreach(var oItem in oResults.items)
                    {
                        <h2><a href="@oItem.link">@oItem.title</a></h2>
                        <p>@Html.Raw(oItem.htmlSnippet)</p>
                    }
                }
                else
                {
                    <p>No results found for search term @oResults.queries.request[0].searchTerms please try again with a different search term</p>
                }
            }
            catch (Exception e)
            {
                <p>Exception @e.Message</p>
            }
            finally
            {
                oClient.Dispose();
            }
        }
    </body>
</html>
