@using System;
@using System.Data;
@using MySql.Data;
@using MySql.Data.MySqlClient;
<!DOCTYPE html>
<html>
    <head>
        <title>Search for Ships By Name</title>
    </head>
    <body>
    <h1>Search for Ships By Name</h1>
        @{
            MySqlConnection conn = new MySqlConnection("user=root;database=sample;convert zero datetime=true");
            try
            {
                String sQuery = "";
                if(Request["query"] != null)
                {
                    sQuery = Request["query"];
                }
                conn.Open();
                String sSQL = "SELECT type, class, numberofcrew, commisioned, name FROM ships WHERE name LIKE CONCAT('%', @query, '%')";
                MySqlCommand cmd = new MySqlCommand(sSQL, conn);
                cmd.Parameters.AddWithValue("query", sQuery);
                MySqlDataReader results = cmd.ExecuteReader();
                <form action="" method="get">
                <input type="text" name="query" id="query" /><input id="searchButton" type="submit" value="Search" />
                </form>
                <div id="searchResults">
                    <table>
                    @while (results.Read())
                    {
                        <tr><td>@results[0]</td><td>@results[1]</td><td>@results[2]</td><td>@results[3]</td><td>@results[4]</td></tr>
                    }
                    </table>
                </div>
            }
            catch(Exception e)
            {
                <p>SQL Error message was @e.Message</p>
            }
            finally
            {
                conn.Close();
            }
        }
    </body>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript">
        jQuery("#searchButton").click(function () {
            jQuery("#searchResults").html("<img src=\"images/turningArrow.gif\" />");
            var oData = { query: jQuery("#query").val() };
            setTimeout(function () {
                jQuery("#searchResults").load("shipSearchAjax.cshtml #searchResults", oData);
            }, 3000);
            return false;
        });
    </script>
</html>
